.app__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.app__row_display-block {
    display: block; 
}

.app__col {
    width: 40%;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
}

.component-title {
    text-align: center;
}
